.item-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.item-properties{
        display: flex;
        justify-content: center;
        gap: 10px;
}