.yellow{
    background-color: rgb(255, 203, 0);
    width: 70px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

.blue{
    background-color: rgb(71, 74, 255);
    width: 70px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    color: white;
}